{% extends "./tutorial/layout.html" %} {% block title %}A2-Broken Authentication and Session Management {% endblock %} {% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="bs-example" style="margin-bottom: 40px;">
            <span class="label label-warning">Exploitability: AVERAGE</span>
            <span class="label label-danger">Prevalence: WIDESPREAD</span>
            <span class="label label-warning">Detectability: AVERAGE</span>
            <span class="label label-danger">Technical Impact: SEVERE</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Description</h3>
            </div>
            <div class="panel-body">
                <p>Application functions related to authentication and session management are often not implemented correctly, allowing attackers to compromise passwords, keys, or session tokens, or to exploit other implementation flaws to assume other users’
                    identities.
            </div>
            </p>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Real World Attack Incident Examples</h3>
            </div>
            <div class="panel-body">
                Screencast here ...
            </div>
        </div>

    </div>
</div>


<!-- accordions -->


<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> 
                  A2 -1 Password Complexity 
                </a> 
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Description</h3>
                    </div>
                    <div class="panel-body">
                        Implementing a robust minimum password criteria (minimum length and complexity) can make it difficult for attacker to guess password.
                    </div>
                </div>
                <!--  
                <div class="panel panel-info"> 
                    <div class="panel-heading"> 
                        <h3 class="panel-title">Attack Scenario Demo</h3> 
                    </div> 
                    <div class="panel-body"> 
                        Screencast showing how attack can manifest in the target application ... 
                    </div> 
                </div> 
                -->
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Attack Mechanics</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            The attacker can exploit this vulnerability by brute force password guessing, more likely using tools that generate random passwords.
                        </p>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">How Do I Prevent It?</h3>
                    </div>
                    <div class="panel-body">
                        <p><b>Password length</b>
                        </p>
                        <p>Minimum passwords length should be at least eight (8) characters long. Combining this length with complexity makes a password difficult to guess and/or brute force.</p>
                        <p><b>Password complexity</b>
                        </p>
                        <p>Password characters should be a combination of alphanumeric characters. Alphanumeric characters consist of letters, numbers, punctuation marks, mathematical and other conventional symbols.</p>
                        <p><b>Additional measures</b>
                        </p>
                        <p>For additional protection against brute forcing, enforce account disabling after an established number of invalid login attempts (e.g., five attempts is common). The account must be disabled for a period of time sufficient to discourage
                            brute force guessing of credentials, but not so long as to allow for a denial-of-service attack to be performed.
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Source Code Example</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            The demo application doesn't enforce strong password. In routes/session.js the regex for password enforcement is simply <pre>var PASS_RE = /^.{1,20}$/;</pre>
                        </p>
                        <p>
                            A stronger password can be enforced using the regex below, which requires 8 to 18 character password with numbers and both lowercase and uppercase letters.
                            <pre>var PASS_RE =/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,18}$/;</pre>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Password Complexity -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          A2 - 2 Session Management
        </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Description</h3>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Attack Scenario Demo</h3>
                    </div>
                    <div class="panel-body">
                        Screencast showing how attack can manifest in the target application ...
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Attack Mechanics</h3>
                    </div>
                    <div class="panel-body">
                        code snippet making attack possible...
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">How Do I Prevent It?</h3>
                    </div>
                    <div class="panel-body">
                        Fixed code Snippet + Screencast ...
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /Session Management -->


</div>
<!-- end accordions -->
{% endblock %}